.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form-container input {
   padding: 10px;
   margin:10px 0px;
}

textarea {
    font-family: inherit;
    resize: none;
}

input[type="text"] {
    border-color: red;
}