:root {
  --main-bg-color: hsl(234, 17%, 12%);
  --Soft-red: hsl(345, 95%, 68%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);

}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Text', sans-serif;
  
}

.App {
  background: url('./pattern-hills.svg') bottom no-repeat, url('./bg-stars.svg') bottom no-repeat;
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color:  var(--main-bg-color);
}

.App h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.5em;
  padding: 100px;
}

.social-media-container ul {
  padding: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-media-container ul li {
  margin-right: 20px;
}

.social-media-container ul li {
  margin-right: 20px;
}

.FacebookIcon:hover {
  fill: brown;
}

/* .Icons {
  background-image: url(./icon-facebook.svg);
  background-size: cover;
  height: 50px;
} */

.countdown-container {
/* display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 1em;
padding: 40px; */
display: flex;
gap: 20px;
overflow: hidden;
justify-content: center;
}

.countdown-container div {
  text-align: center;
  width: 300px;
  height: 300px;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.countdown-container h2 {
  font-size: 100px;
  padding: 0px;
  letter-spacing: 10px;
  color: var(--Soft-red);
}

.countdown-container p {
  color: whitesmoke;
    text-transform: uppercase;
  font-size: 1.2em;

}

.number-wrapper {
  background-color:var(--Very-dark-blue);
}

.regalo-cantidad-badge {
    /* position: absolute;
    left: 0px;
    right: 350px;
    top: 200px; */
    color: red;
  }

  .hideModal {
    display: none;
  }

  .showModal {
    display: block;
  }

  .modal {
    position: absolute;
    top: 60%;
    left: 50%;
    display: block;
    padding: 2em;
    min-width: 20em;
    max-width: 70%;
    color: #f00;
    background-color: whitesmoke;
    border-radius: 1em;
    transform: translate(-50%, -50%);
    outline: transparent;

  }

  .regalo-imagen {
    width: 20%;
  }

  .regalo-dedicatoria {
    color: gray;
    font-size: 10px;
  }