:root {
  --main-bg-color: hsl(234, 17%, 12%);
}

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Text', sans-serif;
  
  
}

.Lista {
  background-image: url('holyday-bg.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.list-wrapper {
  background-color: white;
    width: 800px;
    height: 80vh;
    padding: 2em;
    text-align: center;
}

.Lista ul {
  list-style: none;
      display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Lista svg {
      margin-right: 20px;
}


.Lista h2 {
 padding-bottom: 0.5em;
 color: black;
font-family: 'Mountains of Christmas', cursive;
font-size: 4em;
}

.Lista li {
 font-weight: regular;
     display: flex;
    justify-content: space-between;
}

.Lista .addRegalo {
  margin: 20px 0px;
  /* display: flex;
  justify-content: space-between; */
}

.Lista .addRegaloEnModal {
    margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.Lista input {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 20px;
  display: block;
  

}

.Lista button {
  background-color: brown;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
      max-height: 40px;
}


.empty-state {
  padding: 4em;
}

.counter-wrapper {
  display: flex;
  align-items: center;
}

.counter-wrapper button {
  margin-right:5px;
}

.counter-wrapper div {
  margin-right:5px;
}