:root {
  --main-bg-color: hsl(234, 17%, 12%);
}

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Text', sans-serif;
  
  
}

.Lista {
  background-image: url('holyday-bg.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.list-wrapper {
  background-color: white;
  padding: 4em;
}

.Lista ul {
  list-style: none;
}

.Lista svg {
      margin-right: 20px;
}


.Lista h2 {
 padding-bottom: 0.5em;
 color: black;
font-family: 'Mountains of Christmas', cursive;
font-size: 4em;
}

.Lista li {
 font-weight: regular;
}

.Lista .addRegalo {
  margin: 20px 0px;
}

.Lista input {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 20px;

}

.Lista button {
  background-color: brown;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
}